<div class="alert alert-success" role="alert" <%= notice ? '': 'style=display:none;' %>>
  <%= notice %>
</div>

<div class="card">

  <h1 class="card-header text-center">Todos</h1>

  <div class="card-body">
    <ul class="list-group">
        <% @todos.each do |todo| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <input class="form-check-input me-1" type="checkbox" <%= todo.concluido ? 'checked': '' %> disabled>
            <div class="ms-2 me-auto">
              <div>
                <a class="fw-bold" href="<%= todo_path(todo) %>">
                  <%= todo.titulo %>
                </a>
              </div>
              <%= todo.descricao %>
            </div>
            <span>
              <a class="btn btn-outline-secondary" href="<%= edit_todo_path(todo) %>">
                Editar
              </a>
              <a class="btn btn-outline-danger" data-confirm="Tem certeza?" rel="nofollow" data-method="delete" href="<%= todo_path(todo) %>">
                Excluir
              </a>
            </span>
          </li>
        <% end %>
    </ul>
  </div>

  <div class="card-footer">
    <a class="btn btn-secondary" href="<%= new_todo_path %>">
      Criar novo Todo
    </a>
  </div>

</div>
